<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

	<bean id="addr" class="com.main.Address"></bean>
	
	<bean id="objectFactory" class="com.main.ObjcetFactory">
		<property name="addr" ref="addr"></property>
	</bean>

	<bean id="emp" factory-bean="objectFactory" factory-method="getEmp"></bean>
</beans>