<?xml version="1.0" encoding="UTF-8"?>

<!-- Root tag for Spring bean definitions -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

		<!-- 1. BeanFactory, ApplicationContext -->
		<!-- <bean id="test1" class="config.Test" /> -->
		

		<!-- 2. Lazy Loading and Eager Loading -->
		<!-- lazy-loading Example (Making it Lazy (Comment above))
		Note: By default, BeanFactory and ApplicationContext uses lazy-loading -->
		<!--
		<bean id="test1" class="config.Test" lazy-init="true" /> 
		<bean id="dog" class="config.Dog" lazy-init="true" />
		<bean id="cat" class="config.Cat" lazy-init="true" />
		-->
	
	
		<!-- 3. Singleton and Prototype -->
				<!-- Singleton -->
		<bean id="emp1" class="config.Employee"></bean>
				<!-- Prototype -->
		<!-- <bean id="emp2" class="config.Employee" scope="prototype"></bean> -->
</beans>
