<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

    <!--  By Default Application Context is (Eagerly Loaded)  -->
    <bean id="happy" class="lazyLoading.Happy"/>
    <bean id="bunny" class="lazyLoading.Bunny"/>

    <!-- Application Context (Lazy Loaded)  -->
<!--    <bean id="happy" class="lazyLoading.Happy" lazy-init="true"/>-->
<!--    <bean id="bunny" class="lazyLoading.Bunny" lazy-init="true"/>-->
</beans>