<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

    <!-- 1 -->
    <bean id="parentBean" abstract="true">
        <property name="companyName" value="Xyz Private ltd."/>
        <property name="companyCode" value="2YY"/>
    </bean>

    <bean id="emp" class="Employee" parent="parentBean">
        <property name="id" value="E11"/>
        <property name="name" value="Om"/>
    </bean>
    <bean id="manager" class="Manager" parent="parentBean">
        <property name="id" value="M01"/>
        <property name="name" value="Sachin"/>
    </bean>

    <!-- 2 -->
    <bean id="parentBean2" abstract="true">
        <constructor-arg name="companyName" value="Xyz Private ltd."/>
        <constructor-arg name="companyCode" value="2YY"/>
    </bean>

    <bean id="emp2" class="Employee" parent="parentBean2">
        <constructor-arg name="id" value="E11"/>
        <constructor-arg name="name" value="Om"/>
    </bean>
    <bean id="manager2" class="Manager" parent="parentBean2">
        <constructor-arg name="id" value="M01"/>
        <constructor-arg name="name" value="Sachin"/>
    </bean>
</beans>